/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define fonts */
@font-face {
  font-family: Lato-Regular;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato-Bold;
  src: url("../fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: Lato-Italic;
  src: url("../fonts/Lato/Lato-Italic.ttf");
}

@font-face {
  font-family: Lato-Light;
  src: url("../fonts/Lato/Lato-Light.ttf");
}

/* Define variable (khai báo biến)*/
:root {
  --primary-color: #444;
  --secondary-color: #fff;
  --third-color: #1bbc9b;
  scroll-behavior: smooth;
}

/* Inherit (kế thừa) */
body {
  font-family: Lato-Regular;
  /* #4499AA => #49A */
  color: var(--primary-color);
}

/* Common (phần dùng chung) */
button {
  color: var(--secondary-color);
  background-color: var(--third-color);
  border: none;
  padding-left: 13px;
  padding-right: 13px;
  height: 37px;
  font-size: 13px;
  font-family: Lato-Bold;
  letter-spacing: 3px;
}

/* HEDADER */
/* MENU */
.navbar-light .navbar-nav .nav-link {
  color: var(--primary-color);
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 7px;
}

.navbar-light .navbar-nav li:first-child .nav-link {
  margin-left: 0;
}

.navbar-light .navbar-nav .active.nav-link,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--secondary-color);
  background-color: var(--third-color);
}

.navbar {
  padding-top: 19px;
  padding-bottom: 19px;
}

.navbar.fixed-top {
  background-color: rgba(255, 255, 0, 0.8) !important;
  padding-top: 0;
  padding-bottom: 0;
  animation: 0.3s menuAnimation;
}

/* @keyframes */
@keyframes menuAnimation {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dummy-padding-top {
  padding-top: 95px;
}

/* MAIN */
/* HOME */
.home {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  color: var(--secondary-color);
  padding-top: 72px;
  padding-bottom: 82px;
}

.home h1 {
  font-size: 55px;
  font-family: Lato-Light;
  margin-bottom: 30px;
}

.home h1 span {
  font-family: Lato-Bold;
}

.home p {
  font-size: 18px;
  font-family: Lato-Light;
  margin-bottom: 46px;
  max-width: 576px;
  margin-left: auto;
  margin-right: auto;
}

.home button {
  margin-bottom: 42px;
}

/* PORTFOLIO */
.portfolio {
  padding-top: 50px;
  /* 61px - 34px = 27px */
  padding-bottom: 27px;
}

.portfolio h2 {
  font-size: 28px;
  margin-bottom: 11px;
}

.portfolio p {
  font-size: 16px;
  margin-bottom: 35px;
}

.portfolio button {
  margin-bottom: 45px;
  margin-left: 8px;
  margin-right: 8px;
}

.portfolio > .row {
  max-width: 960px;
  margin: auto;
}

.portfolio .box {
  position: relative;
  margin-bottom: 34px;
  display: inline-block;
}

.portfolio .box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/hover.png");
  border-radius: 50%;
  /* giữa 2 chiều */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  /* để cho thằng dưới nhận */
  pointer-events: none;

  /* opacity: 0; */
  transform: scale(0);
  /* ease là tốc độ chạy: chậm -> nhanh -> chậm */
  transition: 0.3s ease;
}

.portfolio .box:hover .overlay {
  /* opacity: 1; */
  transform: scale(1);
}

.portfolio .box .overlay .content span:nth-of-type(1) {
  font-size: 21px;
  display: inline-block;
  margin-bottom: 19px;
  width: 43px;
  line-height: 45px;
  background-image: url("../images/search.png");
  border-radius: 50%;
}

.portfolio .box .overlay .content span:nth-of-type(2) {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 9px;
}

.portfolio .box .overlay .content span:nth-of-type(3) {
  font-size: 14px;
}

.portfolio button.active {
  color: red;
  background-color: yellow;
}

/* ABOUT */
.about {
  padding-top: 54px;
  /* 74px - 20px */
  padding-bottom: 54px;
  background-color: #16a086;
}

.about h2 {
  font-size: 28px;
  margin-bottom: 11px;
  color: var(--secondary-color);
}

.about > p {
  font-size: 14px;
  margin-bottom: 43px;
  color: var(--secondary-color);
}

.about .box-info {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: var(--secondary-color);
  width: 220px;
  margin: auto;
  margin-bottom: 20px;
}

.about .box-info h3 {
  font-size: 18px;
  margin-bottom: 4px;
}

.about .box-info span {
  font-size: 14px;
  /* set margin-bottom */
  display: inline-block;
  margin-bottom: 18px;
  font-family: Lato-Italic;
}

.about .box-info p {
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.about > .row {
  max-width: 840px;
  margin: auto;
}

.about .box {
  position: relative;
}

.about .box .overlay {
  position: absolute;
  /* nằm giữa 2 chiều */
  /* top: 50%; */
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 48px;
  /* nằm giữa theo chiều dọc */
  display: flex;
  align-items: center;
  /* cách đều theo chiều ngang */
  justify-content: space-evenly;
  /* hình nền */
  background-image: url("../images/hover.png");
  /* hiệu ứng */
  transition: 0.3s ease;
  opacity: 0;
}

.about .box:hover .overlay {
  top: 50%;
  opacity: 1;
}

.about .box .overlay a {
  color: var(--secondary-color);
  font-size: 29px;
}

/* CONTACT */
.contact {
  padding-top: 48px;
  padding-bottom: 60px;
  background-color: #ecf0f1;
}

.contact h2 {
  font-size: 28px;
  margin-bottom: 11px;
}

.contact > p {
  font-size: 14px;
  margin-bottom: 51px;
}

.contact input,
.contact textarea {
  border: 2px solid #bec3c7;
  border-radius: 0;
  margin-bottom: 22px;
}

.contact input {
  height: 47px;
}

.contact textarea {
  height: 153px;
}

.contact ::placeholder {
  font-size: 14px;
  font-family: Lato-Italic;
  color: #999;
}

.contact button {
  padding-left: 29px;
  padding-right: 29px;
}

.contact .col-right > * {
  font-size: 14px;
}

.contact .col-right h3 {
  margin-bottom: 21px;
}

.contact .col-right address {
  margin-bottom: 25px;
  display: flex;
}

.contact .col-right address span {
  margin-left: 5px;
  margin-top: -4px;
}

.contact .col-right p {
  margin-bottom: 19px;
}

.contact > .row {
  max-width: 970px;
  margin: auto;
}

/* FOOTER */
footer {
  color: var(--secondary-color);
  background-color: #2d3e50;
  padding-top: 37px;
  padding-bottom: 37px;
}

footer a.back-to-top {
  width: 44px;
  line-height: 44px;
  color: var(--secondary-color);
  background-color: var(--third-color);
  position: fixed;
  right: 42px;
  bottom: 20px;
  text-align: center;
}

/* Mobile menu */
@media (max-width: 768px) {
  .dummy-padding-top {
    padding-top: 57px;
  }

  .navbar-collapse {
    position: absolute;
    background-color: rgba(208, 208, 208, 0.8);
    top: 100%;
    width: 100%;
    left: 0;
  }

  .navbar-light .navbar-nav .nav-link {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .navbar-light .navbar-nav li:last-child .nav-link {
    margin-bottom: 0;
  }

  /* cho menu mỏng lại */
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}

label.error {
  font-size: 14px;
  color: red;
  position: absolute;
  bottom: -5px;
}
